@model OpenERP.Web.WCF.Customer.Customer

@if (Model != null)
{
    <table class="table table-condensed">
        <caption>Valitud klient</caption>
        <tr>
            <th>@Html.LabelFor(m=>m.Name)</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Id)</th>
            <td>@Model.Id</td>
        </tr>
    </table>
}