<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://idu0080-soap.azurewebsites.net/Invoice.svc" name="BasicHttpBinding_IInvoice" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://idu0080-soap.azurewebsites.net/Customer.svc" name="BasicHttpBinding_ICustomer" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://idu0080-soap.azurewebsites.net/Payment.svc" name="BasicHttpBinding_IPayment" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://idu0080-soap.azurewebsites.net/Product.svc" name="BasicHttpBinding_IProduct" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://idu0080-soap.azurewebsites.net/Delivery.svc" name="BasicHttpBinding_IDelivery" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
